body {
  font-family: helvetica;
  width:100%;
  height:100%;
  overflow: hidden;
}

#main-canvas {
  height: 100vh;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  background-size: contain;
  position: absolute;
}